/*INDEX.HTML*/
a:nth-of-type(1) {
    color: grey;
}
a:nth-of-type(2){
    color: greenyellow;
}
a:nth-of-type(3){
    color: goldenrod;
}
a:nth-of-type(4){
    color: hotpink;
}
a:nth-of-type(1):visited{
    color: khaki;
}
a:nth-of-type(2):visited{
    color: forestgreen;
}
a:nth-of-type(3):visited{
    color: indigo;
}
a:nth-of-type(4):visited{
    color: navy;
}

    h1{
        text-align: center;
        font-size: 24px;
    }
    p{
        font-size: 120%;
    }


/*BIOGRAPHY.HTML*/

a {
    display: block;
  
              }
              .back{
                  font-style: italic;
              }
              #up{
                  text-align: center;
                  font-size: 22px;
              }
              #zmist{
                  text-align: center;
              }
              .menu-item{
                  width:150pt;
                  background: blue;
                  color: floralwhite;
                  border: 2px solid black;
              }
              .menu-item:hover{
                  background: magenta;
                  color: black;
              }
              .menu-item:active{
                  background: yellow;
              }
              article{
                  font-size: 120%;
              }
              h2{
                  font-size: 120%;
              }
           article:nth-of-type(1) p{
                  background: lightblue;
                  color: darkgreen;
              }
              article:nth-of-type(2) p{
                  background: orange;
                  color: darkgreen;
              }
              article:nth-of-type(3) p{
                  background: pink;
                  color: darkgreen;
              }
              article:nth-of-type(4) p{
                  background: lightgreen;
                  color: darkgreen;
              }
              article:nth-of-type(5) p{
                  background: lemonchiffon;
                  color: darkgreen;
              }
              .to-top{
                  text-transform: uppercase;
              }
              .to-zmist{
                  font-weight: bold;
              }

/*NOVADAYS.HTML*/
h1{
    text-align: center;
    font-size: 22px;
}
.back {
    font-style: italic;
}
h3{
    text-align: center;
}
ul li ul li:nth-child(odd){
    background-color: gray;
    color: white;
}
h2{
    text-align: center;
}
ol li ol li:nth-child(3){
    cursor: pointer;
}
ol li ol li:nth-child(5){
    cursor: pointer;
}
ol li ol li:nth-child(4){
    background-color: blueviolet;
}

/*FRIENDS.HTML*/

			h1{
				text-align: center;
				font-size: 22px;
			}
			.back {
				font-style: italic;
			}
			h2{
				text-align: center;
			}
			th{
				border: 1px solid black;
				text-align: center;
				background: green;
				color: white;
				font-weight: bold;
			}
			tr:nth-child(odd){
				background-color: gray;
				color: white;
			}
			tr td:last-child{
				text-align: right;
			}
			table{
				border-collapse: collapse;
				border: 2px solid black;
			}
			td{
				border: 1px solid black;
			}


/*GALLERY.HTML*/

h1{
    text-align: center;
}
.back{
    font-style: italic;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h3:nth-child(4){
    font-size: 1.15em;
}
h3:nth-child(6){
    font-size: 1.95em;
}
h3:nth-child(8){
    font-size: 2.535em;
}
img{
    display: block;
    margin: 0 auto;
}